/** BODY SECTORTS **/
.alleverything {
  background-color: #d2f5e3;
  text-align: center;
  width: auto;

}


.horizontal1 {
  background-color: #d2f5e3;
  border: 7px dotted; color: black;
  border-bottom: none;
  width:5%;
  margin: 50px auto;
}


/** HEADING **/

.heading1 {
  color: #11999E;
  font-size: 60px;
  font-family: 'Lobster', cursive;

}

.heading2 {
  color: #11999E;
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

.cloud1img {
  position: relative;
  bottom: 580px;
  left: 500px;
  width: 17%;
}

.cloud2img {
  position: relative;
  bottom: 320px;
  right: 500px;
}

.cloud3img {
  position: relative;
  bottom: 250px;
  left: 200px;
}

.mountainimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; bottom: 40px;
}

.headingparagraph {
  color: #11999E;
  position: relative; bottom: 20px;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
}

.eyeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  margin-bottom: 40px;

}

/** MY SKILLS **/


.skill-customerservice {
  width: 100%;
  text-align: left;
  position: relative; left: 260px;
}

.skill-webdevelopment {
  width: 100%;
  text-align: right;
  position: relative; right: 260px;

}


.h2 {
  color: #11999E;
  font-size: 40px;
  font-family: 'Lobster', cursive;

}


.h3 {
  color: #11999E;
}
.customerserviceimg {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 20px;

}

.webdevelopmentimg {
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 20px;
}


.websiteimg {
  width: 100px;
}










.BUTTON_KTW {

   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 18px;
   font-weight: 100;
   padding: 10px;

   -webkit-box-shadow: 0 0 0 0 #11999E;
   -moz-box-shadow: 0 0 0 0 #11999E;
   box-shadow: 0 0 0 0 #11999E;
   text-shadow: 1px 1px 20px #FFFFFF;
   border: solid #11999E 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}




.bottom-container {
  padding: 20px 0px 20px;
  background-color: #11999E;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;

}


.footer-link {
  font-family: 'Robot', cursive;
  margin: 10px 5px;
  text-decoration: none;

}
.p3 {
  font-size: 10px;
  text-align: right;
  position: relative; right: 10px;
}
